In [1]:
# Loading Packages

# EDA
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import numpy as np

# Machine Learning
from sklearn import metrics, cluster
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFE
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix,  roc_curve, auc, log_loss 
from sklearn.svm import LinearSVC, SVC
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import GridSearchCV


# Settings
import string
import itertools
import pickle
from collections import Counter

In [19]:
df = pd.read_csv('train.csv')

In [16]:
df.head(10)

,index,age,race,sex,education,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,y
0,1,26,White,Male,Some-college,a_2,b_4,c_0,d_39,e_4,53833,10,0,0,42,0
1,2,35,White,Male,Some-college,a_2,b_3,c_0,d_39,e_4,67728,10,0,2051,45,0
2,3,61,White,Male,HS-grad,a_2,b_12,c_0,d_39,e_6,268831,9,0,0,53,0
3,4,48,Asian-Pac-Islander,Female,Bachelors,a_5,b_1,c_4,d_30,e_4,238360,13,0,0,40,0
4,5,20,White,Male,Some-college,a_4,b_6,c_3,d_39,e_4,199011,10,0,0,12,0
5,6,19,White,Male,11th,a_4,b_8,c_3,d_39,e_7,431745,7,0,0,30,0
6,7,31,White,Female,Assoc-acdm,a_2,b_1,c_5,d_39,e_4,109428,12,0,1740,40,0
7,8,22,White,Male,HS-grad,a_4,b_8,c_3,d_39,e_4,151888,9,0,0,40,0
8,9,40,White,Male,HS-grad,a_2,b_3,c_0,d_39,e_4,178417,9,0,0,35,0
9,10,78,Asian-Pac-Islander,Male,Masters,a_6,b_3,c_4,d_35,e_4,180239,14,0,0,40,0

In [21]:
df.sex[df.gender == "Male"] = 1

AttributeError: 'DataFrame' object has no attribute 'gender'

In [7]:
df.head(10)

,index,age,race,sex,education,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,y
0,1,26,White,Male,Some-college,a_2,b_4,c_0,d_39,e_4,53833,10,0,0,42,0
1,2,35,White,Male,Some-college,a_2,b_3,c_0,d_39,e_4,67728,10,0,2051,45,0
2,3,61,White,Male,HS-grad,a_2,b_12,c_0,d_39,e_6,268831,9,0,0,53,0
3,4,48,Asian-Pac-Islander,Female,Bachelors,a_5,b_1,c_4,d_30,e_4,238360,13,0,0,40,0
4,5,20,White,Male,Some-college,a_4,b_6,c_3,d_39,e_4,199011,10,0,0,12,0
5,6,19,White,Male,11th,a_4,b_8,c_3,d_39,e_7,431745,7,0,0,30,0
6,7,31,White,Female,Assoc-acdm,a_2,b_1,c_5,d_39,e_4,109428,12,0,1740,40,0
7,8,22,White,Male,HS-grad,a_4,b_8,c_3,d_39,e_4,151888,9,0,0,40,0
8,9,40,White,Male,HS-grad,a_2,b_3,c_0,d_39,e_4,178417,9,0,0,35,0
9,10,78,Asian-Pac-Islander,Male,Masters,a_6,b_3,c_4,d_35,e_4,180239,14,0,0,40,0